<template>
  <v-card>
    <v-toolbar color="orange lighten-1" dark>
      <v-btn class="ma-2" tile large icon>
        <v-icon>mdi-image-album</v-icon>
      </v-btn>
      <v-toolbar-title>Album</v-toolbar-title>

      <div class="flex-grow-1"></div>
      <v-btn class="mx-2" fab dark small @click="toggleModal">
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container fluid>
      <v-row>
        <v-col
          v-for="image in images"
          :key="image.imageId"
          class="d-flex child-flex"
          cols="3"
          color="white"
        >
          <v-card tile>
            <v-img
              :src="image.imageSrc"
              :lazy-src="image.imageSrc"
              aspect-ratio="1"
              class="grey lighten-2"
            >
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-row>
              </template>
            </v-img>

            <v-card-text class="text-center">{{image.imageName}}</v-card-text>
            <v-card-actions>
              <div class="flex-grow-1"></div>

              <v-btn icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon @click.stop="deletePhoto(image.imageId)">mdi-delete</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <upload-image-modal
      :modal="modal"
      :viewAlbum="viewAlbum"
      v-if="this.modal"
      @toggleModal="modal=$event"
    ></upload-image-modal>
  </v-card>
</template>

<script>
import UploadImageModal from "./UploadImageModal.vue";
import { exp } from "../../public/app.js";
export default {
  name: "Album",
  components: {
    UploadImageModal
  },
  data() {
    return {
      modal: false,
      images: []
    };
  },
  created() {
    this.viewAlbum();
  },
  methods: {
    toggleModal() {
      this.modal = !this.modal;
    },
    viewAlbum() {
      this.images.length = 0;
      let _this = this;
      var albumName = "Album/";
      var albumPhotosKey = albumName;
      exp.s3.listObjects({ Prefix: albumPhotosKey }, function(err, data) {
        if (err) {
          return alert("There was an error viewing your album: " + err.message);
        }
        // 'this' references the AWS.Response instance that represents the response
        var href = this.request.httpRequest.endpoint.href;
        var bucketUrl = href + exp.albumBucketName + "/";

        var photos = data.Contents.map(function(photo) {
          var photoKey = photo.Key;
          var photoUrl = bucketUrl + encodeURIComponent(photoKey);
          var obj = {
            imageSrc: photoUrl,
            imageName: photoKey.split("/")[1],
            imageId: photoKey
          };
          _this.images.push(obj);
        });
      });
    },
    deletePhoto(photoKey) {
      let _this = this;

      exp.s3.deleteObject({ Key: photoKey }, function(err, data) {
        if (err) {
          return alert("There was an error deleting your photo: ", err.message);
        }
        alert("Successfully deleted photo.");
        _this.deleteFromDb(photoKey.replace("/", "-"));
        _this.viewAlbum();
      });
    },
    deleteFromDb(photoKey) {
      let _this = this;
      this.axios.delete("Photos/" + photoKey).then(response => {
        console.log(response.data);
      });
    }
  }
};
</script>

<style>
</style>