<template>
  <v-dialog v-model="dialog" persistent scrollable>
    <v-card>
      <v-card-title>Upload Image</v-card-title>
      <v-divider></v-divider>
      <v-card-text style="height: 400px;">
        <v-container fluid>
          <v-row>
            <v-col cols="6" md="5">
              <v-card class="pa-2" tile>
                <v-file-input
                  v-model="file"
                  color="orange lighten-1"
                  counter
                  label="Image input"
                  multiple
                  placeholder="Select your files"
                  prepend-icon="mdi-camera"
                  outlined
                  accept="image/png, image/jpeg, image/bmp"
                  :show-size="1000"
                  @change="onFileChange"
                >
                  <template v-slot:selection="{ index, text }">
                    <v-chip v-if="index < 2" color="orange lighten-1" dark label small>{{ text }}</v-chip>

                    <span
                      v-else-if="index === 2"
                      class="overline grey--text text--darken-3 mx-2"
                    >+{{ files.length - 2 }} File(s)</span>
                  </template>
                </v-file-input>
              </v-card>
              <v-divider></v-divider>
              <v-card tile>
                <v-col>
                  <v-textarea
                    v-model="imageMetaData.ImageCaption"
                    prepend-icon="mdi-comment-quote"
                    filled
                    auto-grow
                    label="Captions"
                    rows="5"
                    row-height="20"
                  ></v-textarea>
                </v-col>
              </v-card>
            </v-col>

            <v-col cols="12" md="7">
              <v-card class="pa-2" tile>
                <v-img
                  :src="imageUrl"
                  :lazy-src="imageUrl"
                  min-height="500px"
                  max-height="500px"
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <div class="flex-grow-1"></div>
        <v-btn color="primary" text @click="toggleModal">Close</v-btn>
        <v-btn color="primary" @click="onUpload">Upload</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import { exp } from "../../public/app.js";

export default {
  props: ["modal", "viewAlbum"],
  data() {
    return {
      dialog: this.modal,
      file: null,
      imageUrl: this.imageUrl,
      image: null,
      imageMetaData: {
        ImageId: "",
        ImagePath: "",
        ImageCaption: ""
      }
    };
  },
  methods: {
    toggleModal() {
      this.dialog = !this.dialog;
      this.$emit("toggleModal", this.dialog);
    },
    onFileChange() {
      let reader = new FileReader();
      reader.onload = () => {
        this.imageUrl = reader.result;
      };

      reader.readAsDataURL(this.file[0]);
      //this.image = this.file[0];
    },
    onUpload() {
      let _this = this;
      var files = this.file;

      if (!files.length) {
        return alert("Please choose a file to upload first.");
      }
      var file = files[0];
      var fileName = file.name;
      var albumPhotosKey = "Album/";

      var photoKey = albumPhotosKey + fileName;
      exp.s3.upload(
        {
          Key: photoKey,
          Body: file,
          ACL: "public-read"
        },
        function(err, data) {
          if (err) {
            return alert(
              "There was an error uploading your photo: ",
              err.message
            );
          } else {
            alert("Successfully uploaded photo.");

            _this.imageMetaData.ImageId = data.Key.replace("/", "-");
            _this.imageMetaData.ImagePath = data.Location;

            _this.postToDb();
            _this.toggleModal();
            _this.viewAlbum();
          }
          //viewAlbum(albumName);
        }
      );
    },
    postToDb() {
      this.axios.post("Photos", this.imageMetaData).then(response => {
        console.log(response.data);
      });
    }
  }
};
</script>
