<template>
  <v-app>
    <!-- Header -->
    <Header :drawer="drawer" @toggleNavBar="drawer=$event" />

    <v-container fluid>
      <!-- Navigation Bar -->
      <NavigationBar :drawer="drawer" />

      <!-- Content Panel -->
      <v-content>
        <router-view></router-view>
      </v-content>

      <!-- Footer -->
      <Footer />
    </v-container>
  </v-app>
</template>

<script>
import Header from "./layout/Header";
import NavigationBar from "./layout/NavigationBar";
import Footer from "./layout/Footer";

export default {
  name: "App",
  components: {
    Header,
    NavigationBar,
    Footer
  },
  data() {
    return {
      drawer: true
    };
  },
  created() {
    this.$vuetify.theme.dark = true;
  }
};
</script>
