<template>
  <v-footer app>
    <span>
      <p
        class="text-center"
      >Company XY &copy; 2019. All rights reserved. Created by Team Toledo-Aradanas</p>
    </span>
  </v-footer>
</template>
<script>
export default {
  name: "Footer"
};
</script>