<template>
  <v-app-bar app clipped-left>
    <v-app-bar-nav-icon v-on:click="toggleNavBar"></v-app-bar-nav-icon>
    <v-toolbar-title>Photo Gallery</v-toolbar-title>
  </v-app-bar>
</template>
<script>
export default {
  name: "Header",
  props: ["drawer"],
  data: function() {
    return {
      isToggle: this.drawer
    };
  },
  methods: {
    toggleNavBar() {
      this.isToggle = !this.isToggle;
      this.$emit("toggleNavBar", this.isToggle);
    }
  }
};
</script>