<template>
  <v-navigation-drawer v-if="drawer" app clipped>
    <v-list dense>
      <router-link to="/album">
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-image-multiple</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Album</v-list-item-title>
        </v-list-item>
      </router-link>

      <router-link to="/items">
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-view-list</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Items</v-list-item-title>
        </v-list-item>
      </router-link>
      <router-link to="/reports">
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-clipboard-text-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Report</v-list-item-title>
        </v-list-item>
      </router-link>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "NavigationBar",
  props: ["drawer"]
};
</script>
<style scoped>
a {
  text-decoration: none;
  color: white;
}
.routerlink {
  display: block;
  color: rgb(240, 20, 20);
}
</style>